{% load static %}

{% load embed_video_tags%}


{%block content %}

<div class="container" style="background:whitesmoke;width:100%;">
    <p style="text-align: center;font-size:40px;"> dégustez la passion de la music  </p><hr>
    <center>
    <div class="col-md-3 col-6 col-xl-6">
		<button type="button" class="btn mb-2 mb-md-0 btn-outline-success btn-block"><a href="#">créé votre propre site web</button>
	</div>
    </center>
    <div class="mt-5 pt-5">

        {% if full_list %}
    
        {% for video in full_list %}
        
        <!-- link passed to embed code, this shows up as blank -->
        <iframe src="{{ video.URL }}?rel=0" frameborder="0" allowfullscreen></iframe>
        
        {% endfor %}
    
        {% else %}
        <p>No videos available</p>
        {% endif %}

        
    </div>
</div>

{% endblock content%}